<div class="div-principal d-flex flex-row justify-content-center">
    <div class="div-item-lista" *ngFor="let item of modelList">
        <div [ngStyle]="getImageStyle(item)" class="div-image-item"></div>
        <div class="div-descricao">
            <span class="titulo-texto">{{item.nome}}</span>
            <div class="descricao-texto">{{item.descricao}}</div>

            <div>
                <app-avaliacao-component [nota]="item.rating"></app-avaliacao-component>
            </div>
            <a class="link-detalhes"  [routerLink]="[detailLink]" [queryParams]="{id:item.id}">MAIS INFORMAÇÕES</a>
        </div>
    </div>
</div>
