@import "../../common/common.css";

.div-avaliacao {
    margin: 4px;
    height: 150px;
    padding: 10px;
}

.profile-img {
    height:40px;
    width:40px;
}

.avaliacao-card-rating {
    padding-top: 5px;
}

.div-header-card {
    margin-bottom: 5px; 
}

.div-rating {
    margin-bottom: -13px;
}

.avaliacao-nome-usuario {
    font-size: 12px;
    vertical-align:middle; 
}

.avalizacao-descricao {
    text-align: center;
    font-size: 16px;
}